footer{

    .footer-text{

        .footer__list{
            .footer__iteam{
                padding-bottom: 20px;
            }
                .footer__iteamm{
                padding-bottom: 20px;
            }
        }

        .footer__icons{
            display: flex;
            margin-left: 40px;
            gap: 10px;
            font-size: 33px
        }
    }

    .fotter-texoo{
        font-weight: 500;
    }

    .fotter__text3{
        font-size: 12px;
        text-align: end;
    }
}